<div class="show">
  <h2><%= @event.name %></h2>
  <h3><%= @event.url %></h3>
  <h3><%= @event.description %></h3>
  <h3><%= @event.address %></h3>
  <h3><%= current_user.name %></h3>
  <h3><%= @event.date %></h3>
</div>