<!DOCTYPE html>
<html>
<head>
  <title>Rtw</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,100italic,300italic' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "layouts/top_nav" %>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash#{name}" %>
    <% end  %>

    <%= yield %>  
  </div>
</body>
</html>
